#header-nav-container, #header-nav-container a {
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: none;
}

#header-nav-container ul, #main-menu ul {
	margin-left: 0;
	padding-left: 0;
	display: inline-block;
	border: none;
} 

#header-nav-container ul li {
	margin-left: 0;
	border: none;
	list-style: none;
	display: inline;
	background: url('/static/th5/bg-top-nav.png') left center no-repeat;
}

#header-nav-container ul li:first-child {
	background: none;
}

#header-nav-container ul li a {
	padding: 0 0.8em;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 0 #19497E;
}

#header-nav-container ul li:first-child a {
	padding-left: 0;
}

#header-nav-container ul li a:hover {
	color: #fff;
	text-shadow: 0 -1px 0 #19497E;
}

#header-nav-right h3 {
	font-weight: normal;
	color: white;
}

#main-menu ul {
	/* line-height: 35px; */
	font-size: 0;
	height:35px;
}

#main-menu ul li {
	margin-left: 0;
	border: none;
	list-style: none;
	display: inline-block;
	background: url('/static/th5/bg-primary-nav-sep.gif') right bottom no-repeat;
	/* font-weight: bold; */
}

#main-menu ul li:hover {
	background: #f8f8f8 url('/static/th5/bg-primary-nav-sep.gif') right bottom no-repeat;
}

#main-menu ul a {
	padding: 10px 15px;
	color: #19497E;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
	font-size: 14px;
	text-transform: capitalize;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
}

#right-column h2
{
	font-size: 16px;
	font-weight: bold;
	color: #555;
	text-shadow: 0 1px 0 white;
	border-bottom: 6px solid #ddd;
}

aside ul {
	list-style: none;
	margin-left: 0;
	border-bottom: 1px solid #ddd;
}

article {
	padding-top: 10px;
	border-bottom: 1px dashed #aaa;
}

article:first-child {
	padding-top: 0;
}
article footer {
	background: none;
}

#footer-top {
	height: 15px;
	overflow: hidden;
	background: #EAEAEA;
	/* background: url('/static/th5/bg-footer-top.gif') repeat-x; */
	border-bottom: 1px solid #1F5FA5;
	text-indent: -9999px;
}

#footer-content {
	width: 940px;
	margin: 0 auto;
	padding: 40px 0 10px 0;
	background: url(images/bg-light.png) center top no-repeat;
}

#footer-dynamic-sidebar {
	background-color: 
}

#footer-notes {
	border-top: 1px solid #1F5FA5;
	height: 20px;
	padding: 8px 0;
	font-size: 11px;
	color: #eaeaea;
	text-shadow: 0 -1px 0 #1F5FA5;
	background-color: #2A75CB;
}

#footer-notes-content {
	width: 940px;
	margin: 0 auto;
	text-align: right;
}

#footer-notes-content a {
	color: #eaeaea;
	text-decoration: none;
	text-shadow: 0 -1px 0 #1F5FA5;
}